.heroSection {
    max-width: 1000px;
    margin: 0 auto;
}

.bannerContainer {
    text-align: center;
}

.bannerContainer img {
    padding: 0px;
}

.addContainer {
    width: 100%;
}

.bannerContainer img {
    margin: 10px auto;
    display: block;
    width: 100%;
    height: 100px;
}

.addContainer img {
    margin: 10px auto;
    display: block;
    max-width: 100%;
    height: 100px;
}